In [10]:
# 1 Imprimir los números del 1 al 5 utilizando un bucle for

numero = [ 3,4,5,2,1]
numero.sort()

for n in numero:
    print (n)

1
2
3
4
5

In [19]:
# 2 Calcular la suma de los primeros 10 números naturales...

numero_2 = []

for i in range(1,11):
   
   numero_2.append(i)

In [22]:
print (sum(numero_2))

55

In [23]:
# 3 Calcular el producto de los elementos de una lista

lista_num = [2,4,6]
producto = 1

for i in lista_num:
    print (i)

2
4
6

In [29]:
lista_num = [2,4,6]
producto = 1

for i in lista_num:
    producto *= i
    print (producto)

2
8
48

In [31]:
# 4 Imprimir los caracteres de una cadena de texto

cadena = "hola que tal"

for letra in cadena:
    print (letra)

h
o
l
a

q
u
e

t
a
l

In [39]:
# 5 Imprimir los números pares del 1 al 100 utilizando un bucle for


for num in range (1,101):
    if num % 2 == 0:
       print (num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [41]:
#6 Imprimir los números primos del 1 al 50 utilizando un bucle for

for num in range (2,51):
    if num % 2 == 1:
       print (num)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
# 7 Calcular el factorial de un número utilizando un bucle for